#menu {
    bottom: 30px;
    position: absolute;
    font-family: KHMenu;
}

@font-face { font-family: KHMenu; src: url('kh2menu.TTF'); } 
@font-face { font-family: KHTitle; src: url('khtitle.TTF'); } 


.select-box {
    border: 1px solid #000;
    background-color: black;
    opacity: 0.4;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.heartimg {
    position: absolute;
    top: 120px;
    left: 110px;
    opacity: 0.75;
}

.select-box-hover {
    border: 10px solid #000;
    width: 30px;
    height: 30px;
    background-color: orange;
    display: inline-block;
    opacity: 1.0;
}

.title-option {
    display: inline-block;
    text-align: center;
}

.game-line {
    width: 100vw;
    background: linear-gradient(135deg, transparent 60%, black);
}


.image-blurred-edge {
    background-image: url('./leda.jpeg');
    position: absolute;
    right: 0;
    width: 640px;
    height: 611px;
    top: 20%;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 50px 50px white inset;
    z-index: -99;
}

.rightimg {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 20%
}

.game-hover {
    width: 100vw;
    background: linear-gradient(135deg, transparent 60%, orange);
}

.selected {
    background-color: orange;
}

/* body {
    height: 100vh;
    width: 100vw;
} */

#big-title {
    position: absolute;
    top: 50px;
    left: 50px;
    font-family: KHTitle;
    font-size: 5em;
}

@media (min-width: 1px) and (max-width: 1104px), (min-height: 1px) and (max-height: 699px) {
    #container {
        display: none;
    }
    #error-msg {
        display: block;
    }
}

@media screen and (min-width: 1105px) and (min-height: 700px) {
    #container {
        display: block;
    }
    #error-msg {
        display: none;
    }
}

/* @media screen and (min-width: 480px) {
    body {
    }
  } */